@model IEnumerable<KPax.Models.BaselinePlanViewModel>

@{
    ViewBag.Title = "Baselines planning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsReleased)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RememberMe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RememberMeDays)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsReleased)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RememberMe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RememberMeDays)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id },
            new { onclick = "return confirm('Are you sure you wish to delete this Baseline?');" })
        </td>
    </tr>
}

</table>
